.root {
  display: flex;
  align-items: center;
}

.image {
  padding: 20px 40px;
  width: 200px;
  height: 200px;

  img {
   width: 200px;
   height: 200px;
  }
}

.mainImage {
  width: 400px;
  height: 400px;

  img {
    width: 400px;
    height: 400px;
  }
}
