.questionsList {
  display: flex;
  margin: 60px 40px;
  flex-wrap: wrap;
}

.category {
  min-width: 200px;
  margin: 0 30px;
  flex-grow: 0.3;
}

.categoryTitle {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 800;
}

.question {
  padding: 20px 10px;
  background-color: aliceblue;
  border: 1px solid antiquewhite;
  margin: 10px 0;
  cursor: pointer;
}