.root {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
}

.tweetBoxForm {
  display: flex;
  flex-direction: column;
}

.tweetBoxInput {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}

.tweetButton {
  background-color: var(--twitter-color) !important;
  color: white !important;
  font-weight: 900 !important;
  border: none !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 30px !important;
  margin-top: 20px !important;
  margin-left: auto !important;
  width: 80px;
}